@font-face {
  font-family: "iconfont"; /* Project id 2846383 */
  src: url('https://at.alicdn.com/t/font_2846383_8izpo3huzd.ttf?t=1633022057878') format('truetype');;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-you:before {
  content: "\e625";
}

.icon-zuo:before {
  content: "\e626";
}

